[profile.default]
src = "src"
out = "out"
libs = ["lib"]

optimizer = true
optimizer_runs = 20_000
solc = "0.8.23"

fs_permissions = [{ access = "read-write", path = "./"}]

gas_reports = ["*"]


[profile.default.fmt]
line_length = 120
tab_width = 4
bracket_spacing = false
int_types = "long"
quote_style = "double"
number_underscore = "preserve"
override_spacing = true
wrap_comments = true
ignore = [
    "src/EVault/EVault.sol",
    "src/EVault/shared/types/VaultStorage.sol",
    "src/EVault/shared/types/VaultCache.sol",
    "test/mocks/TestERC20.sol"
]


[profile.default.fuzz]
max_test_rejects = 1_000_000
seed = "0xee1d0f7d9556539a9c0e26aed5e63556"
runs = 1000

[profile.default.invariant]
call_override = false
depth = 50
runs = 1000

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
